*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: burlywood;
}
.wrapper{
    max-width: 70rem;
    height: 50rem;
    width: 100%;
    border: 0.2rem dashed black;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.text{
    margin-bottom: 2.5rem;
    color: #333;
}
input{
    display: none;
}
.upload{
    background: white;
    padding: 0.8rem 2rem;
    transition: 0.4s ease;
    cursor: pointer;
}
.upload:hover{
    box-shadow: 0 0.4rem 0.2rem rgba(0,0,0,0.2);
}
.img img{
    width: 99%;
    height: 99%;
    object-fit: cover;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    display: none;
}
.icon p.close{
    font-size: 3rem;
    color: #fff;
    position: absolute;
    right: 2rem;
    top: 1rem;
    cursor: pointer;
    z-index: 1;
    display: none;
}
.img img.active{
    display: block;
}
.icon p.close.exit{
    display: block;
}
.icon p.close:hover{
    color: red;
}