*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
font-size: 10px;
}
body{
    background-color: #8a2be2;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s cubic-bezier(0.215,0.61,0.355,1);
}
h2{
    color: #fff;
    font-weight: 200;
    font-size: 2rem;
    padding: 1rem;
    text-transform: uppercase;
}
#btn{
    padding: 2rem;
    background: transparent;
    border: 0.2rem solid white;
    color: white;
    font-size: 2rem;
    font-weight: 200;
    transition: 0.8s cubic-bezier(0.175,0.885,0.32,1.275);
}
#btn:hover{
    background: #fff;
    color: black;
    cursor: pointer;
}
#btn:active{
    padding: 0.5rem;
}