*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
font-size: 10px;
}
body{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: #000;
    color: #fff;
}
.js{
    color: yellow;
}
.typed-text{
    color: #20c20e;
}
.cursor{
    background: #20c20e;
}